# {{ name }}

{{ purpose }}
{% if tech_stack %}
## Tech Stack
{% for item in tech_stack %}
- {{ item }}
{% endfor %}
{% endif %}
{% if rules %}
## Rules
{% for rule in rules %}
{{ '  ' * rule.indent }}- {{ rule.text }}
{% endfor %}
{% endif %}
{% if pillars %}
{% for pillar in pillars %}
## {{ pillar.title }}
{% if pillar.lines %}
{% for line in pillar.lines %}
{{ line }}
{% endfor %}
{% else %}
{% for bullet in pillar.bullets %}
{{ '  ' * bullet.indent }}- {{ bullet.text }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
